<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body>
    <a href='@Url.Action("C_IniciarSesion")'><img class="volver" src="\img\volver.png"></a><br>
    <div class="contenedor">
        <div class="input">
            <img class="registrarse" src="\img\PerroCorriendo_Registro.jpg"><br><br><br><br>


            <form method="post" action = '@Url.Action("C_AgregarMascota")' enctype = "multipart/form-data">
            <input id="IdDueno" name="IdDueno" type="hidden" value="@ViewBag.IdDueno">

            <p class = "MascotaRegistro">¿Qué clase de mascota tenés?</p>
            
            <input type="radio" class="btn-check" name="Tipo" id="Gato" value = "Gato" autocomplete="off">
            <label class="btn btn-light" for="Gato">Gato</label>

            <input type="radio" class="btn-check" name="Tipo" id="Perro" value = "Perro" autocomplete="off">
            <label class="btn btn-light" for="Perro">Perro</label>
            <p class = "SexoMascota">De qué sexo es?</p> 
            
            <input type="radio" class="btn-check" name="Genero" id="Macho" value = "Macho" autocomplete="off">
            <label class="btn btn-light" for="Macho">Macho</label>

            <input type="radio" class="btn-check" name="Genero" id="Hembra" value = "Hembra"  autocomplete="off">
            <label class="btn btn-light" for="Hembra">Hembra</label>
<br>

            <input class="corto" type="text" name = "nombre" placeholder="Nombre de la Mascota" required>
                        
            <input type="text" name="raza" id="raza" list="razas" required autocomplete="off" placeholder="Raza">

            <datalist id="razas">
                @foreach (Raza raza in ViewBag.Razas)
                {
                    <option value="@raza.nombre"></option>
                }
            </datalist>

            <br><br><p>Fecha de nacimiento:</p>
            <input class="largo"  name = "fechaNacimiento" type="date" placeholder="Fecha de Nacimiento de la Mascota" required><br>
            <input class="largo" name = "foto" type="file" placeholder="Subir Foto de la Mascota" required><br><br>

            <input type = 'Submit' role="button" value = 'Siguiente' id="submit" name="submit"><br><br>
        </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
</body>

</html>