<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body>
    <a href='@Url.Action("Index")'><img class="volver" src="\img\volver.png"></a><br>
    <div class="contenedor">
        <div class="input">
            <img class="registrarse" src="\img\personaCaminando_Registro.png"><br>

            <form method="post" action = '@Url.Action("C_AgregarDueno")'>
                <input class="corto" type="text" name = "nombre" placeholder="Nombre" required> <input name = "dni" class="corto" type="number" placeholder="DNI del dueño" required> <br>
                <input class="largo" name = "email" type="email" placeholder="Email" required><br>
                <input class="largo" type="password" name = "contrasena" placeholder="Contraseña" required><br><br>

            <input type = 'Submit' role="button" value = 'Siguiente' id="submit" name="submit"><br><br>
            </form>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
</body>

</html>